* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    background-color: cadetblue;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
}